<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.shopmybatis.dao.ICategoryDao">
    <resultMap id="CategoryResultMap" type="Category">
        <id column="CATEGORYID" property="id"/>
        <result column="CATEGORYNAME" property="name"/>
    </resultMap>

    <!-- 关联员工集合属性的结果集映射  使用内嵌是resultMap方式取得关联属性, 推荐此方式 -->
    <resultMap id="CategoryWithGoodsResultMap" type="Category" extends="CategoryResultMap">
        <collection property="goods" ofType="Good" resultMap="com.city.shopmybatis.dao.IGoodDao.GoodResultMap"/>
    </resultMap>

    <!-- 使用自增量字段 语法  -->
    <insert id="insert" keyProperty="id" keyColumn="CATEGORYID" useGeneratedKeys="true" >
        insert into category (CATEGORYNAME) values (#{name})
	</insert>

    <!-- 修改部门，动态SQL set标记的使用 -->
    <update id="update" parameterType="Category">
        update category
        <set>
            <if test="name!=null and name!=''">
                CATEGORYNAME=#{name},
            </if>
        </set>
        where CATEGORYID=#{id}
    </update>

    <delete id="delete" parameterType="Category">
        delete from category where CATEGORYID=#{id}
	</delete>

    <select id="selectById" parameterType="_int" resultMap="CategoryResultMap" >
        select * from category where CATEGORYID=#{id}
	</select>

    <!-- 取得指定的部门，并同时取得其关联的员工集合属性 -->
    <select id="selectByIdWithGoods" parameterType="_int" resultMap="CategoryWithGoodsResultMap">
        select c.*,g.*
        from category c
        left outer join good g on c.CATEGORYID=g.CATEGORYID
        where c.CATEGORYID=#{id}
	</select>


    <select id="selectListByAll"  resultMap="CategoryResultMap" useCache="true" flushCache="false">
        select * from category
	</select>

    <select id="selectListByAllWithGoods" resultMap="CategoryWithGoodsResultMap">
	    select c.*,g.*
	    from category c
	    left outer join good g on c.CATEGORYID=g.CATEGORYID
	</select>

    <select id="selectListByAllWithPage" resultMap="CategoryResultMap" >
        select * from category limit #{start},#{rows}
	</select>

    <select id="selectCountByAll" resultType="_int">
	    select count(CATEGORYID) from category
	</select>

</mapper>